version: "3.7"

services:
  db:
    image: postgres:12-alpine
    volumes:
      - postgres_data_app:/var/lib/postgresql/data/
    env_file:
      ./.env

  backend:
    build:
      context: ./api
      dockerfile: Dockerfile
    command: ["sh", "docker-entrypoint.sh"]
    restart: "always"
    volumes:
      - ./api/:/api/
    ports:
      - $PORT:$PORT
    depends_on:
      - db
    env_file:
        ./.env

  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - '8080:8080'
    volumes:
      - './client:/client'
    command: /bin/sh -c "quasar dev"
    depends_on:
      - backend
    env_file:
      ./.env

volumes:
  postgres_data_app:
