name: Deploy front-end to netlify

on:
  push:
    branches:
      - master
      - main
      - frontend-cd-config

jobs:
  build:
    runs-on: ubuntu-18.04
    defaults:
      run:
        working-directory: ./client

    steps:
      - uses: actions/checkout@v2

      - name: Build frontend image
        run: docker build -t frontend .

      - name: Build production application
        run: |
          docker run\
            --volume ${PWD}:/client\
            frontend bash -c "yarn build"

      - name: Deploy front-end to Netlify
        uses: nwtgck/actions-netlify@v1.2
        with:
          publish-dir: ${{github.workspace}}/client/dist
          production-branch: master
          deploy-message: "Deploy from GitHub Actions"
          enable-pull-request-comment: true
          enable-commit-comment: false
          overwrites-pull-request-comment: true
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        timeout-minutes: 2
